.RollDice-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.RollDice-btn {
  background-color: rgb(48, 143, 248);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 100px auto;
  padding: 40px 80px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.RollDice-btn:hover {
  background-color: #42a5f5;
  color: #fcfcfc;
}

.RollDice-btn:active {
  margin: 101px auto;
}

.rolling,
.rolling:hover {
  background-color: black;
}
